# Environment & secrets
.env

# Database
db.sqlite3

# Celery
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# Media uploads
media/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
migrations/__pycache__/

# Sent emails (dev only)
sent_emails/